.expenses-filter{
    display: flex;
    justify-content: space-between;
    margin: 1rem ;
    color: white;
}

.expenses-filter__label {
    font-size: 1.3rem;
    font-weight: bold;
    align-self: center;
}

.expenses-filter select{
    padding: 1.3rem 3rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
}